html {
    background: #F5F5F5;
    font-family: Arial;
}

.wrapper {
    width: 1200px;
	height: 1000px;
    margin: 0 auto;
    padding: 0;
    background: #0e334f;
}

.header {
	width: 1200px;
	height: 60px;
	background-color: #ffffff;	
}

.name_main {
	color: #0e334f;
	font: 18px Arial;
	font-weight: bold;
	text-decoration: none;
}

.main {
	color: #808c95;
	font: 18px Arial;
	padding: 5px;
	margin: 0;
}

.logo_main a:hover {
	color: #e84824;
}

.right_col a:hover {
	color: #e84824;
}
 
.logo_name a:hover {
	color: #0e334f;
}

.left_col {
	float: left;
	margin-top: 0;
}

.left_col div {
	display: inline-block;
	padding: 10px 10px;
}

.logo {
	padding: 10px;
}

.right_col {
	float: right;
	box-sizing: border-box;
	display: inline-block;
}

.link{
	width: 500px; 
    margin: 5px; 
    padding-top: 5px;
    text-align: center; 
    display: inline-block;   
}


.link :before{ 
	display: inline-block;
	background: url('../images/sp.png') no-repeat;
	overflow: hidden; 
	text-indent: -9999px;  
	content: ''; 
}

.icon_1:before { background-position: -65px -360px; width: 23px; height: 23px; }
.icon_2:before { background-position: -65px -316px; width: 24px; height: 22px; }
.icon_3:before { background-position: -23px -362px; width: 23px; height: 17px; }

.icon_1:hover:before { background-position: -0px -362px; width: 23px; height: 23px; }
.icon_2:hover:before { background-position: -65px -338px; width: 24px; height: 22px; }
.icon_3:hover:before { background-position: -23px -379px; width: 23px; height: 17px; }

.link2 img {
	vertical-align: top;
}

.link a {
	text-transform: uppercase;
	color: #909aa4;
	font: 12px Arial;
	padding: 5px;
	text-decoration: none;
}

.name a{
	color: #0e334f;
}

.right_col div {
	display: inline-block;
}

.login {
	background-color: #f4f4f4;
	height: 49px;
	padding-top: 10px;
}

.login a{
	colo r: #061f33;
	text-decoration: none;
}

.login :hover {
	background-color: #e84824;
	padding: 20px 0px 25px 0px;
}

.login a:hover {
	color: #ffffff;
	text-decoration: none;
}

.login :before {
	display: inline-block;
	 background: url('../images/sp.png') no-repeat;
	 overflow: hidden;
	 text-indent: -9999px; 
	 content: ''; 
	 text-align: left; 
}

.icon_4:before { background-position: -46px -362px; width: 19px; height: 22px; }
.icon_4:hover:before { background-position: -65px -383px; width: 19px; height: 22px; }

.box {
	width: 1000px; 
    margin: 20px; 
    padding-top: 220px;
    padding-bottom: 220px;
    padding-left: 200px; 
    text-align: center; 
    display: inline-block;
    box-sizing: border-box;
}

.top_box div {
	display: inline-block;
	padding: 40px 35px 30px 35px; 
}

.bottom_box div {
	display: inline-block;
	padding: 40px 35px 30px 35px; 
}

.box :before{ 
	display: inline-block; 
	background: url('../images/sp.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;    
	content: '';
	text-align: right; 
}
 
.icon_main_5:before { background-position: -0px -0px; width: 102px; height: 55px; }
.icon_main_6:before { background-position: -0px -55px; width: 99px; height: 61px; }
.icon_main_3:before{ background-position: -0px -116px; width: 87px; height: 63px; }
.icon_main_1:before { background-position: -0px -179px; width: 85px; height: 56px; }
.icon_main_2:before { background-position: -0px -235px; width: 85px; height: 56px; }
.icon_main_4:before { background-position: -0px -291px; width: 65px; height: 71px; }

.icon_main_5:hover:before { background-position: -0px -0px; width: 102px; height: 55px; }
.icon_main_6:hover:before { background-position: -0px -55px; width: 99px; height: 61px; }
.icon_main_3:hover:before{ background-position: -0px -116px; width: 87px; height: 63px; }
.icon_main_1:hover:before { background-position: -0px -179px; width: 85px; height: 56px; }
.icon_main_2:hover:before { background-position: -0px -235px; width: 85px; height: 56px; }
.icon_main_4:hover:before { background-position: -0px -291px; width: 65px; height: 71px; }

.top_box1 {
	background: url('../images/number_red1.png') no-repeat top 8px right 8px,
	url('../images/red_b.png') no-repeat right top 0px;
}
.top_box2 {
	background: url('../images/number_red2.png') no-repeat top 8px right 8px,
	url('../images/red_b.png') no-repeat right top 0px;
}

.top_box3 {
	background: url('../images/number_blue.png') no-repeat top 8px right 10px,
	url('../images/blue.png') no-repeat right top 0px;
}

.bottom_box4 {
	background: url('../images/number_green.png') no-repeat right 15px top 7px,
	url('../images/green.png') no-repeat top right 0px;
}

.box p {
	font: 22px Arial;
	text-transform: uppercase;
	color: #ffffff;
} 

.box a {
	text-decoration: none;
}

.box p:hover {
	font: 22px Arial;
	font-weight: bold;
	color: #ffffff;
}

.top_box div:hover {
	background-color: #274861;
}

.bottom_box div:hover {
	background-color: #274861;
}

.footer {
	background-color: #061f33;
  	left: 75px;
  	bottom: 0;
 	width: 1200px;
 	height: 40px;
 	margin: 0 auto;
 	text-align: center;
 	position: fixed;
}

.footer :before {
	display: inline-block;
	background: url('../images/sp.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;    
	content: '';
	text-align: right;
}

.answers_questions:before { background-position: -65px -291px; width: 28px; height: 25px; }
.answers_questions:hover:before { background-position: -65px -291px; width: 28px; height: 25px; }

.footer a {
	font: 15px Arial;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.footer :hover {
	background-color: #e84824;
  	left: 0;
  	bottom: 0;
 	width: 100%;
 	height: 40px;
 	margin: 0 auto;
 	text-align: center;	
}

.answers_questions {
	padding-top: 10px;
	padding-bottom: 32px;
	padding-left: 487px;
	padding-right: 487px;
}

