html {
    background: #F5F5F5;
    font-family: Arial;
}

.wrapper {
    width: 1200px;
	height: 1000px;
    margin: 0 auto;
    background: #0e334f;
}

.header {
	width: 1200px;
	height: 60px;
	background-color: #ffffff;
}

.name_main {
	color: #0e334f;
	font: 18px Arial;
	font-weight: bold;
	padding: 0px 5px 5px 5px;
	text-decoration: none;
}

.main {
	color: #808c95;
	font: 18px Arial;
	padding: 0px 5px 5px 5px;
}

.left_col a:hover {
	color: #e84824;
}


.right_col a:hover {
	color: #e84824;
}

.left_col {
	float: left;
}

.logo{
	margin: 10px;
}

.right_col {
	float: right;
	box-sizing: border-box;
	display: block;
}

.link :before{ 
	display: inline-block;
	background: url('../images/sp.png') no-repeat;
	overflow: hidden; 
	text-indent: -9999px;  
	content: ''; 
}

.icon_1:before { background-position: -65px -360px; width: 23px; height: 23px; }
.icon_2:before { background-position: -65px -316px; width: 24px; height: 22px; }
.icon_3:before { background-position: -23px -362px; width: 23px; height: 17px; }

.icon_1:hover:before { background-position: -0px -362px; width: 23px; height: 23px; }
.icon_2:hover:before { background-position: -65px -338px; width: 24px; height: 22px; }
.icon_3:hover:before { background-position: -23px -379px; width: 23px; height: 17px; }


.link a{
	text-transform: uppercase;
	color: #909aa4;
	font: 12px Arial;
	padding: 5px;
	text-decoration: none;
}


.name a{
	color: #0e334f;

}


button a:hover{
	background-color: red;

}

button{
	background-color: #f4f4f4;
	width: 150px;
	height: 62px;
	
}

button  a:before{ 
	display: inline-block;
	 background: url('../images/sp.png') no-repeat;
	 overflow: hidden;
	 text-indent: -9999px; 
	 content: ''; 
	 text-align: right; 
}
.icon_4:before { background-position: -46px -362px; width: 19px; height: 22px; }
.icon_4:hover:before { background-position: -65px -383px; width: 19px; height: 22px; }

.box{
	width: 1000px; /* Ширина */
    margin: 20px; /* Отступы */
    padding-top:220px;
    padding-bottom: 220px;
    padding-left: 200px; /* Поля сверху и снизу */
    text-align: center; /* Выравнивание по центру */
    display: inline-block;
    box-sizing: border-box;

}

.top_box div{
	display: inline-block;
	padding: 40px;
}

.bottom_box div{
	display: inline-block;
	padding: 40px;
}

.box :before{ 
	display: inline-block; 
	background: url('../images/sp.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;    
	content: '';
	text-align: right; 
}
 
.icon_main_5:before { background-position: -0px -0px; width: 102px; height: 55px; }
.icon_main_6:before { background-position: -0px -55px; width: 99px; height: 61px; }
.icon_main_3:before{ background-position: -0px -116px; width: 87px; height: 63px; }
.icon_main_1:before { background-position: -0px -179px; width: 85px; height: 56px; }
.icon_main_2:before { background-position: -0px -235px; width: 85px; height: 56px; }
.icon_main_4:before { background-position: -0px -291px; width: 65px; height: 71px; }

.icon_main_5:hover:before { background-position: -0px -0px; width: 102px; height: 55px; }
.icon_main_6:hover:before { background-position: -0px -55px; width: 99px; height: 61px; }
.icon_main_3:hover:before{ background-position: -0px -116px; width: 87px; height: 63px; }
.icon_main_1:hover:before { background-position: -0px -179px; width: 85px; height: 56px; }
.icon_main_2:hover:before { background-position: -0px -235px; width: 85px; height: 56px; }
.icon_main_4:hover:before { background-position: -0px -291px; width: 65px; height: 71px; }


.footer{
	background-color: #061f33;
  	left: 0;
  	bottom: 0;
 	width: 100%;
 	height: 60px;
 	margin: 0 auto;
 	text-align: center;	
}

.footer :before{
	display: inline-block;
	background: url('../images/sp.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;    
	content: '';
	text-align: right; }

.answers_questions:before { background-position: -65px -291px; width: 28px; height: 25px; }
.answers_questions:hover:before { background-position: -65px -291px; width: 28px; height: 25px; }
